.en .question-1 .q-head {
  background-image: url("images/en/question/shirt/head-shirt.png");
  width: 1688px;
  height: 284px;
}

.en .question-1 .q-choice-1 {
  background-image: url("images/en/question/shirt/shirt-1.png");
  width: 1224px;
  height: 199px;
}

.en .question-1 .q-choice-2 {
  background-image: url("images/en/question/shirt/shirt-2.png");
  width: 1236px;
  height: 199px;
}

.en .question-1 .q-choice-3 {
  background-image: url("images/en/question/shirt/shirt-3.png");
  width: 1236px;
  height: 199px;
}

.en .question-1 .q-icon-drag-1 {
  background-image: url("images/en/question/shirt/shirt-1.png");
  width: 240px;
  height: 199px;
}

.en .question-1 .q-icon-drag-2 {
  background-image: url("images/en/question/shirt/shirt-2.png");
  width: 240px;
  height: 199px;
}

.en .question-1 .q-icon-drag-3 {
  background-image: url("images/en/question/shirt/shirt-3.png");
  width: 240px;
  height: 199px;
}

.en .correct-1 .answer-detail {
  background-image: url("images/en/question/shirt/shirt-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-1 .q-head {
  background-image: url("images/th/question/shirt/head-shirt.png");
  width: 1688px;
  height: 284px;
}

.th .question-1 .q-choice-1 {
  background-image: url("images/th/question/shirt/shirt-1.png");
  width: 1288px;
  height: 199px;
}

.th .question-1 .q-choice-2 {
  background-image: url("images/th/question/shirt/shirt-2.png");
  width: 1288px;
  height: 199px;
}

.th .question-1 .q-choice-3 {
  background-image: url("images/th/question/shirt/shirt-3.png");
  width: 1288px;
  height: 199px;
}

.th .question-1 .q-icon-drag-1 {
  background-image: url("images/th/question/shirt/shirt-1.png");
  width: 240px;
  height: 199px;
}

.th .question-1 .q-icon-drag-2 {
  background-image: url("images/th/question/shirt/shirt-2.png");
  width: 240px;
  height: 199px;
}

.th .question-1 .q-icon-drag-3 {
  background-image: url("images/th/question/shirt/shirt-3.png");
  width: 240px;
  height: 199px;
}

.th .correct-1 .answer-detail {
  background-image: url("images/th/question/shirt/shirt-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-1 .answer-icon {
  background-image: url("images/en/question/shirt/shirt-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
