.en .question-2 .q-head {
  background-image: url("images/en/question/beer/head-beer.png");
  width: 1688px;
  height: 284px;
}

.en .question-2 .q-choice-1 {
  background-image: url("images/en/question/beer/beer-1.png");
  width: 1224px;
  height: 210px;
}

.en .question-2 .q-choice-2 {
  background-image: url("images/en/question/beer/beer-2.png");
  width: 1236px;
  height: 210px;
}

.en .question-2 .q-choice-3 {
  background-image: url("images/en/question/beer/beer-3.png");
  width: 1236px;
  height: 210px;
}

.en .question-2 .q-icon-drag-1 {
  background-image: url("images/en/question/beer/beer-1.png");
  width: 240px;
  height: 210px;
}

.en .question-2 .q-icon-drag-2 {
  background-image: url("images/en/question/beer/beer-2.png");
  width: 240px;
  height: 210px;
}

.en .question-2 .q-icon-drag-3 {
  background-image: url("images/en/question/beer/beer-3.png");
  width: 240px;
  height: 210px;
}

.en .correct-2 .answer-detail {
  background-image: url("images/en/question/beer/beer-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-2 .q-head {
  background-image: url("images/th/question/beer/head-beer.png");
  width: 1748px;
  height: 284px;
  margin-left: 100px;
}

.th .question-2 .q-choice-1 {
  background-image: url("images/th/question/beer/beer-1.png");
  width: 1224px;
  height: 210px;
}

.th .question-2 .q-choice-2 {
  background-image: url("images/th/question/beer/beer-2.png");
  width: 1236px;
  height: 210px;
}

.th .question-2 .q-choice-3 {
  background-image: url("images/th/question/beer/beer-3.png");
  width: 1236px;
  height: 210px;
}

.th .question-2 .q-icon-drag-1 {
  background-image: url("images/th/question/beer/beer-1.png");
  width: 240px;
  height: 210px;
}

.th .question-2 .q-icon-drag-2 {
  background-image: url("images/th/question/beer/beer-2.png");
  width: 240px;
  height: 210px;
}

.th .question-2 .q-icon-drag-3 {
  background-image: url("images/th/question/beer/beer-3.png");
  width: 240px;
  height: 210px;
}

.th .correct-2 .answer-detail {
  background-image: url("images/th/question/beer/beer-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-2 .answer-icon {
  background-image: url("images/en/question/beer/beer-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
