.en .question-3 .q-head {
  background-image: url("images/en/question/storage/head-storage.png");
  width: 1688px;
  height: 284px;
}

.en .question-3 .q-choice-1 {
  background-image: url("images/en/question/storage/storage-1.png");
  width: 1224px;
  height: 210px;
}

.en .question-3 .q-choice-2 {
  background-image: url("images/en/question/storage/storage-2.png");
  width: 1236px;
  height: 210px;
}

.en .question-3 .q-choice-3 {
  background-image: url("images/en/question/storage/storage-3.png");
  width: 1236px;
  height: 210px;
}

.en .question-3 .q-icon-drag-1 {
  background-image: url("images/en/question/storage/storage-1.png");
  width: 240px;
  height: 210px;
}

.en .question-3 .q-icon-drag-2 {
  background-image: url("images/en/question/storage/storage-2.png");
  width: 240px;
  height: 210px;
}

.en .question-3 .q-icon-drag-3 {
  background-image: url("images/en/question/storage/storage-3.png");
  width: 240px;
  height: 210px;
}

.en .correct-3 .answer-detail {
  background-image: url("images/en/question/storage/storage-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-3 .q-head {
  background-image: url("images/th/question/storage/head-storage.png");
  width: 1688px;
  height: 284px;
}

.th .question-3 .q-choice-1 {
  background-image: url("images/th/question/storage/storage-1.png");
  width: 1224px;
  height: 210px;
}

.th .question-3 .q-choice-2 {
  background-image: url("images/th/question/storage/storage-2.png");
  width: 1236px;
  height: 210px;
}

.th .question-3 .q-choice-3 {
  background-image: url("images/th/question/storage/storage-3.png");
  width: 1288px;
  height: 240px;
}

.th .question-3 .q-icon-drag-1 {
  background-image: url("images/th/question/storage/storage-1.png");
  width: 240px;
  height: 210px;
}

.th .question-3 .q-icon-drag-2 {
  background-image: url("images/th/question/storage/storage-2.png");
  width: 240px;
  height: 210px;
}

.th .question-3 .q-icon-drag-3 {
  background-image: url("images/th/question/storage/storage-3.png");
  width: 240px;
  height: 240px;
}

.th .correct-3 .answer-detail {
  background-image: url("images/th/question/storage/storage-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-3 .answer-icon {
  background-image: url("images/en/question/storage/storage-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
