.en .question-4 .q-head {
  background-image: url("images/en/question/sun/head-sun.png");
  width: 1688px;
  height: 284px;
}

.en .question-4 .q-choice-1 {
  background-image: url("images/en/question/sun/sun-1.png");
  width: 1224px;
  height: 210px;
}

.en .question-4 .q-choice-2 {
  background-image: url("images/en/question/sun/sun-2.png");
  width: 1236px;
  height: 210px;
}

.en .question-4 .q-choice-3 {
  background-image: url("images/en/question/sun/sun-3.png");
  width: 1236px;
  height: 210px;
}

.en .question-4 .q-icon-drag-1 {
  background-image: url("images/en/question/sun/sun-1.png");
  width: 240px;
  height: 210px;
}

.en .question-4 .q-icon-drag-2 {
  background-image: url("images/en/question/sun/sun-2.png");
  width: 240px;
  height: 210px;
}

.en .question-4 .q-icon-drag-3 {
  background-image: url("images/en/question/sun/sun-3.png");
  width: 240px;
  height: 210px;
}

.en .correct-4 .answer-detail {
  background-image: url("images/en/question/sun/sun-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-4 .q-head {
  background-image: url("images/th/question/sun/head-sun.png");
  width: 1688px;
  height: 284px;
}

.th .question-4 .q-choice-1 {
  background-image: url("images/th/question/sun/sun-1.png");
  width: 1288px;
  height: 210px;
}

.th .question-4 .q-choice-2 {
  background-image: url("images/th/question/sun/sun-2.png");
  width: 1236px;
  height: 210px;
}

.th .question-4 .q-choice-3 {
  background-image: url("images/th/question/sun/sun-3.png");
  width: 1262px;
  height: 210px;
}

.th .question-4 .q-icon-drag-1 {
  background-image: url("images/th/question/sun/sun-1.png");
  width: 240px;
  height: 210px;
}

.th .question-4 .q-icon-drag-2 {
  background-image: url("images/th/question/sun/sun-2.png");
  width: 240px;
  height: 210px;
}

.th .question-4 .q-icon-drag-3 {
  background-image: url("images/th/question/sun/sun-3.png");
  width: 240px;
  height: 210px;
}

.th .correct-4 .answer-detail {
  background-image: url("images/th/question/sun/sun-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-4 .answer-icon {
  background-image: url("images/en/question/sun/sun-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
