.en .question-5 .q-choice, .th .question-5 .q-choice {
  margin: 0;
}

.en .question-5 .q-head {
  background-image: url("images/en/question/house-paint/head-house-paint.png");
  width: 1688px;
  height: 284px;
}

.en .question-5 .q-choice-1 {
  background-image: url("images/en/question/house-paint/house-paint-1.png");
  width: 1224px;
  height: 241px;
}

.en .question-5 .q-choice-2 {
  background-image: url("images/en/question/house-paint/house-paint-2.png");
  width: 1236px;
  height: 241px;
}

.en .question-5 .q-choice-3 {
  background-image: url("images/en/question/house-paint/house-paint-3.png");
  width: 1236px;
  height: 241px;
}

.en .question-5 .q-icon-drag-1 {
  background-image: url("images/en/question/house-paint/house-paint-1.png");
  width: 260px;
  height: 241px;
}

.en .question-5 .q-icon-drag-2 {
  background-image: url("images/en/question/house-paint/house-paint-2.png");
  width: 260px;
  height: 241px;
}

.en .question-5 .q-icon-drag-3 {
  background-image: url("images/en/question/house-paint/house-paint-3.png");
  width: 260px;
  height: 241px;
}

.en .correct-5 .answer-detail {
  background-image: url("images/en/question/house-paint/house-paint-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-5 .q-head {
  background-image: url("images/th/question/house-paint/head-house-paint.png");
  width: 1688px;
  height: 284px;
}

.th .question-5 .q-choice-1 {
  background-image: url("images/th/question/house-paint/house-paint-1.png");
  width: 1288px;
  height: 241px;
}

.th .question-5 .q-choice-2 {
  background-image: url("images/th/question/house-paint/house-paint-2.png");
  width: 1288px;
  height: 260px;
}

.th .question-5 .q-choice-3 {
  background-image: url("images/th/question/house-paint/house-paint-3.png");
  width: 1288px;
  height: 241px;
}

.th .question-5 .q-icon-drag-1 {
  background-image: url("images/th/question/house-paint/house-paint-1.png");
  width: 260px;
  height: 241px;
}

.th .question-5 .q-icon-drag-2 {
  background-image: url("images/th/question/house-paint/house-paint-2.png");
  width: 260px;
  height: 260px;
}

.th .question-5 .q-icon-drag-3 {
  background-image: url("images/th/question/house-paint/house-paint-3.png");
  width: 260px;
  height: 241px;
}

.th .correct-5 .answer-detail {
  background-image: url("images/th/question/house-paint/house-paint-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-5 .answer-icon {
  background-image: url("images/en/question/house-paint/house-paint-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
