.en .question-6 .q-choice, .th .question-6 .q-choice {
  margin: 0;
}

.en .question-6 .q-head {
  background-image: url("images/en/question/lamp/head-lamp.png");
  width: 1688px;
  height: 284px;
}

.en .question-6 .q-choice-1 {
  background-image: url("images/en/question/lamp/lamp-1.png");
  width: 1224px;
  height: 241px;
}

.en .question-6 .q-choice-2 {
  background-image: url("images/en/question/lamp/lamp-2.png");
  width: 1236px;
  height: 241px;
}

.en .question-6 .q-choice-3 {
  background-image: url("images/en/question/lamp/lamp-3.png");
  width: 1236px;
  height: 241px;
}

.en .question-6 .q-icon-drag-1 {
  background-image: url("images/en/question/lamp/lamp-1.png");
  width: 270px;
  height: 241px;
}

.en .question-6 .q-icon-drag-2 {
  background-image: url("images/en/question/lamp/lamp-2.png");
  width: 270px;
  height: 241px;
}

.en .question-6 .q-icon-drag-3 {
  background-image: url("images/en/question/lamp/lamp-3.png");
  width: 270px;
  height: 241px;
}

.en .correct-6 .answer-detail {
  background-image: url("images/en/question/lamp/lamp-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-6 .q-head {
  background-image: url("images/th/question/lamp/head-lamp.png");
  width: 1688px;
  height: 284px;
}

.th .question-6 .q-choice-1 {
  background-image: url("images/th/question/lamp/lamp-1.png");
  width: 1224px;
  height: 241px;
}

.th .question-6 .q-choice-2 {
  background-image: url("images/th/question/lamp/lamp-2.png");
  width: 1236px;
  height: 241px;
}

.th .question-6 .q-choice-3 {
  background-image: url("images/th/question/lamp/lamp-3.png");
  width: 1236px;
  height: 241px;
}

.th .question-6 .q-icon-drag-1 {
  background-image: url("images/th/question/lamp/lamp-1.png");
  width: 270px;
  height: 241px;
}

.th .question-6 .q-icon-drag-2 {
  background-image: url("images/th/question/lamp/lamp-2.png");
  width: 270px;
  height: 241px;
}

.th .question-6 .q-icon-drag-3 {
  background-image: url("images/th/question/lamp/lamp-3.png");
  width: 270px;
  height: 241px;
}

.th .correct-6 .answer-detail {
  background-image: url("images/th/question/lamp/lamp-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-6 .answer-icon {
  background-image: url("images/en/question/lamp/lamp-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
