.en .question-7 .q-choice, .th .question-7 .q-choice {
  margin: 0;
}

.en .question-7 .q-head {
  background-image: url("images/en/question/acne/head-acne.png");
  width: 1688px;
  height: 284px;
}

.en .question-7 .q-choice-1 {
  background-image: url("images/en/question/acne/acne-1.png");
  width: 1224px;
  height: 241px;
}

.en .question-7 .q-choice-2 {
  background-image: url("images/en/question/acne/acne-2.png");
  width: 1236px;
  height: 241px;
}

.en .question-7 .q-choice-3 {
  background-image: url("images/en/question/acne/acne-3.png");
  width: 1236px;
  height: 241px;
}

.en .question-7 .q-icon-drag-1 {
  background-image: url("images/en/question/acne/acne-1.png");
  width: 280px;
  height: 241px;
}

.en .question-7 .q-icon-drag-2 {
  background-image: url("images/en/question/acne/acne-2.png");
  width: 280px;
  height: 241px;
}

.en .question-7 .q-icon-drag-3 {
  background-image: url("images/en/question/acne/acne-3.png");
  width: 280px;
  height: 241px;
}

.en .correct-7 .answer-detail {
  background-image: url("images/en/question/acne/acne-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-7 .q-head {
  background-image: url("images/th/question/acne/head-acne.png");
  width: 1688px;
  height: 284px;
}

.th .question-7 .q-choice-1 {
  background-image: url("images/th/question/acne/acne-1.png");
  width: 1288px;
  height: 241px;
}

.th .question-7 .q-choice-2 {
  background-image: url("images/th/question/acne/acne-2.png");
  width: 1236px;
  height: 241px;
}

.th .question-7 .q-choice-3 {
  background-image: url("images/th/question/acne/acne-3.png");
  width: 1236px;
  height: 241px;
}

.th .question-7 .q-icon-drag-1 {
  background-image: url("images/th/question/acne/acne-1.png");
  width: 280px;
  height: 241px;
}

.th .question-7 .q-icon-drag-2 {
  background-image: url("images/th/question/acne/acne-2.png");
  width: 280px;
  height: 241px;
}

.th .question-7 .q-icon-drag-3 {
  background-image: url("images/th/question/acne/acne-3.png");
  width: 280px;
  height: 241px;
}

.th .correct-7 .answer-detail {
  background-image: url("images/th/question/acne/acne-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-7 .answer-icon {
  background-image: url("images/en/question/acne/acne-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
