.th .question-8 .q-choice {
  margin-top: 10px;
}

.en .question-8 .q-head {
  background-image: url("images/en/question/plaster/head-plaster.png");
  width: 1688px;
  height: 284px;
}

.en .question-8 .q-choice-1 {
  background-image: url("images/en/question/plaster/plaster-1.png");
  width: 1224px;
  height: 210px;
}

.en .question-8 .q-choice-2 {
  background-image: url("images/en/question/plaster/plaster-2.png");
  width: 1236px;
  height: 210px;
}

.en .question-8 .q-choice-3 {
  background-image: url("images/en/question/plaster/plaster-3.png");
  width: 1236px;
  height: 210px;
}

.en .question-8 .q-icon-drag-1 {
  background-image: url("images/en/question/plaster/plaster-1.png");
  width: 250px;
  height: 210px;
}

.en .question-8 .q-icon-drag-2 {
  background-image: url("images/en/question/plaster/plaster-2.png");
  width: 250px;
  height: 210px;
}

.en .question-8 .q-icon-drag-3 {
  background-image: url("images/en/question/plaster/plaster-3.png");
  width: 250px;
  height: 210px;
}

.en .correct-8 .answer-detail {
  background-image: url("images/en/question/plaster/plaster-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** th **/

.th .question-8 .q-head {
  background-image: url("images/th/question/plaster/head-plaster.png");
  width: 1688px;
  height: 284px;
}

.th .question-8 .q-choice-1 {
  background-image: url("images/th/question/plaster/plaster-1.png");
  width: 1288px;
  height: 230px;
}

.th .question-8 .q-choice-2 {
  background-image: url("images/th/question/plaster/plaster-2.png");
  width: 1288px;
  height: 230px;
}

.th .question-8 .q-choice-3 {
  background-image: url("images/th/question/plaster/plaster-3.png");
  width: 1288px;
  height: 230px;
}

.th .question-8 .q-icon-drag-1 {
  background-image: url("images/th/question/plaster/plaster-1.png");
  width: 250px;
  height: 230px;
}

.th .question-8 .q-icon-drag-2 {
  background-image: url("images/th/question/plaster/plaster-2.png");
  width: 250px;
  height: 230px;
}

.th .question-8 .q-icon-drag-3 {
  background-image: url("images/th/question/plaster/plaster-3.png");
  width: 250px;
  height: 230px;
}

.th .correct-8 .answer-detail {
  background-image: url("images/th/question/plaster/plaster-text.png");
  width: 1920px;
  height: 770px;
  top: 0;
  left: 0;
}

/** correct icon **/

.correct-8 .answer-icon {
  background-image: url("images/en/question/plaster/plaster-ans.png");
  top: 615px;
  left: 100px;
  width: 503px;
  height: 447px;
}
