/** reset **/
* {
  padding: 0; margin: 0; box-sizing: border-box;
}
/** wrapper **/
html, body, #wrapper {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

/** global **/
.hidden { display: none; }
.invisible { visibility: hidden; }
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item {
  position: absolute;
}

/** home **/
.bg-1 {
  background-image: url("images/en/home/bg.jpg");
}
.bg-2 {
  width: 1920px;
  height: 983px;
  bottom: 0;
  left: 0;
  background-image: url("images/en/home/bg-bottom.png");
}

.go-shop-btn {
  top: 384px;
  left: 872px;
}
.en .go-shop-btn {
  width: 840px;
  height: 293px;
  background-image: url("images/en/home/let-go-shopping.png");
}

.th .go-shop-btn {
  width: 840px;
  height: 386px;
  background-image: url("images/th/home/let-go-shopping.png");
}

.go-shop-btn-2 {
  top: 410px;
  left: 595px;
  width: 695px;
  height: 380px;
}

.th-btn, .en-btn {
  width: 462px;
  height: 135px;
  left: 1450px;;
}

.th-btn {
  top: 808px;
  background-image: url("images/en/home/thai.png");
}

.en-btn {
  top: 939px;
  background-image: url("images/en/home/eng.png");
}

/** shop **/
#shop .container {
  padding: 30px 0 0 0;
  text-align: center;
}
.bg-4 {
  background-image: url("images/en/shop/bg-cate.jpg");
}

.q-icon {
  display: inline-block;
  margin: 0px 10px;
}

.q-icon.correct {
  opacity: 0.3;
}

.q-icon-1 {
  width: 345px;
  height: 374px;
}
.en .q-icon-1 {
  background-image: url("images/en/category/shirt.png");
}
.th .q-icon-1 {
  background-image: url("images/th/category/shirt.png");
}

.q-icon-2 {
  width: 348px;
  height: 368px;
}
.en .q-icon-2 {
  background-image: url("images/en/category/beer.png");
}
.th .q-icon-2 {
  background-image: url("images/th/category/beer.png");
}

.q-icon-3 {
  width: 413px;
  height: 368px;
}
.en .q-icon-3 {
  background-image: url("images/en/category/storage.png");
}
.th .q-icon-3 {
  background-image: url("images/th/category/storage.png");
}

.q-icon-4 {
  width: 345px;
  height: 374px;
}
.en .q-icon-4 {
  background-image: url("images/en/category/sunscreen.png");
}
.th .q-icon-4 {
  background-image: url("images/th/category/sunscreen.png");
}

.q-icon-5 {
  width: 345px;
  height: 370px;
}
.en .q-icon-5 {
  background-image: url("images/en/category/house-paint.png");
}
.th .q-icon-5 {
  background-image: url("images/th/category/house-paint.png");
}

.q-icon-6 {
  width: 353px;
  height: 370px;
}
.en .q-icon-6 {
  background-image: url("images/en/category/lamp.png");
}
.th .q-icon-6 {
  background-image: url("images/th/category/lamp.png");
}

.q-icon-7 {
  width: 352px;
  height: 370px;
}
.en .q-icon-7 {
  background-image: url("images/en/category/acne.png");
}
.th .q-icon-7 {
  background-image: url("images/th/category/acne.png");
}

.q-icon-8 {
  width: 358px;
  height: 421px;
}
.en .q-icon-8 {
  background-image: url("images/en/category/plaster.png");
}
.th .q-icon-8 {
  background-image: url("images/th/category/plaster.png");
  height: 370px;
}

.q-icon-9 {
  width: 352px;
  height: 426px;
}
.en .q-icon-9 {
  background-image: url("images/en/category/lip.png");
}
.th .q-icon-9 {
  background-image: url("images/th/category/lip.png");
  height: 370px;
}

/** question **/
.bg-5 {
  background-image: url("images/en/question/bg-question.jpg");
}

.q-head {
  margin-top: 36px;
  margin-left: 220px;
  background-repeat: no-repeat;
}

.q-choice-list {
  margin-left: 612px;
}

.q-basket {
  top: 750px;
  left: 138px;
  width: 338px;
  height: 292px;
  background-image: url("images/en/question/cartset.png");
}

.q-choice {
  margin-top: 20px;
  background-repeat: no-repeat;
}

.q-icon-drag {
  opacity: 0;
  background-repeat: no-repeat;
}
.q-icon-drag.dragging {
  opacity: 0.6;
  position: absolute;
}

.q-correct {
  top: 445px;
  left: 174px;
  width: 276px;
  height: 275px;
  background-image: url("images/en/question/correct.png");
}

.q-incorrect {
  top: 445px;
  left: 174px;
  width: 280px;
  height: 281px;
  background-image: url("images/en/question/incorrect.png");
}

.answer-icon {
  background-repeat: no-repeat;
}

/** correct page **/
.bg-6 {
  background-image: url("images/en/correct/bg-answer.jpg");
}

.en .keep-shop-btn {
  top: 765px;
  left: 653px;
  width: 512px;
  height: 145px;
  background-image: url("images/en/correct/keep-shopping.png");
}

.en .checkout-btn {
  top: 765px;
  left: 1191px;
  width: 694px;
  height: 145px;
  background-image: url("images/en/correct/check-out.png");
}
.th .keep-shop-btn {
  top: 765px;
  left: 753px;
  width: 512px;
  height: 145px;
  background-image: url("images/th/correct/keep-shopping.png");
}
.th .checkout-btn {
  top: 765px;
  left: 1321px;
  width: 515px;
  height: 145px;
  background-image: url("images/th/correct/check-out.png");
}
.answer-detail {
  background-repeat: no-repeat;
  background-position: right;
}

/** checkout **/
.bg-7 {
  background-image: url("images/en/sum/bg-sum.png");
}

.back-to-shop-btn {
  top: 865px;
  left: 1300px;
  width: 512px;
  height: 145px;
}

.en .sum-text-wrap {
  width: 1604px;
  height: 363px;
  top: 100px;
  left: 100px;
  background-image: url("images/en/sum/text-sum.png");
}

.th .sum-text-wrap {
  width: 1650px;
  height: 400px;
  top: 100px;
  left: 100px;
  background-image: url("images/th/sum/text-sum.png");
}

.score, .do-length {
  color: white;
  text-shadow: 0 1px 1px #333333;
  font-size: 160px;
  font-family: sans-serif;
}

.en .score {
  top: 260px;
  left: 1142px;
}

.th .score {
  top: 284px;
  left: 1490px;
}

.en .do-length {
  top: -16px;
  left: 1246px;
}

.th .do-length {
  top: 16px;
  left: 1212px;
}

.en .back-to-shop-btn {
  background-image: url("images/en/sum/back.png");
}

.th .back-to-shop-btn {
  background-image: url("images/th/sum/back.png");
}

/***** animation *****/
@keyframes cloudMove {
  from { background-position: -1920px 0; }
  to { background-position: 1920px 0; }
}

@-webkit-keyframes cloudMove {
  from { background-position: 0 0; }
  to { background-position: 1920px 0; }
}

.cloud {
  background-image: url("images/cloud.png");
  width: 100%;
  height: 326px;
  top: 20px;
  left: 0;
  background-repeat: no-repeat;
  -webkit-animation: cloudMove 18s linear infinite;
  animation: cloudMove 18s linear infinite;
}
